<div class="course-card-component">
  <div class="course-card-description">
    <h2>{{course.title}}</h2>
    <p>{{course.description}}</p>
  </div>
  <div class="course-card-info">
    <div class="info-block">
      <h6>Authors: </h6>
      {{course.authors}}
    </div>
    <div class="info-block">
      <h6>Duration: </h6>
      {{transformMinutesToHours(course.duration)}}
    </div>
    <div class="info-block">
      <h6>Created: </h6>
      {{course.creationDate | date:"dd.MM.YYYY"}}
    </div>
    <div class="info-block buttons">
      <ng-content></ng-content>
    </div>
  </div>
</div>
