<div class="courses-component">
  <app-header>
    <div class="header-buttons">
      <button type="button" class="btn btn-outline-success login-btn">Log In</button>
      <button type="button" class="btn btn-outline-success registration-btn">Registration</button>
    </div>
  </app-header>
  <div class="buttons-demonstration">
    <app-button [buttonText]="showCourse"></app-button>
    <app-button [iconName]="iconPen"></app-button>
    <app-button [iconName]="iconTrash"></app-button>
  </div>
  <app-info
    [infoTitle]="infoTitle"
    [infoText]="infoText"
  >
    <h1>{{infoTitle}}</h1>
    <p>{{infoText}}</p>
    <button type="button" class="btn btn-outline-success add-new-course-btn">{{addNewCourse}}</button>
  </app-info>
  <app-search></app-search>
  <app-course-card
    [course]="courses[0]"
  >
    <app-button [buttonText]="showCourse"></app-button>
  </app-course-card>
  <app-course-card
    [course]="courses[0]"
  >
    <app-button [buttonText]="showCourse"></app-button>
    <app-button [iconName]="iconPen"></app-button>
    <app-button [iconName]="iconTrash"></app-button>
  </app-course-card>
  <app-course-list
    [courses]="courses"
    [areCoursesEditable]="false"
    (newEvent)="handleEvent($event)"
  >
  </app-course-list>
</div>
